.table-row {
    display: grid;
    grid-template-columns: 40px 2fr 1.5fr 1fr;
    padding: 0.5rem 0;
    border-bottom: 1px solid #f3f2f2;
}

.header-row {
    font-weight: 600;
    border-bottom: 1px solid #dddbda;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
}

.ok {
    color: #2e844a;
    font-weight: 600;
}

.error {
    color: #ba0517;
    font-weight: 600;
}

.footer {
    border-top: 1px solid #dddbda;
    text-align: right;
}
.slds-table {
    background: white;
}